/* SHARED */


/* HEADER */

.nav-link {
    font-size: 1.15rem;
}

@media screen and (min-width: 900px) and  (max-width: 1199px) {
    .nav-link {
        margin: 0 4px;
        font-size: 1.25rem;
    }
}

@media screen and (min-width: 1200px) {
    .nav-link {
        margin: 0 8px;
        font-size: 1.35rem;
    }
}


/* FOOTER */

.footer-content {
    width: 100%;
    padding-top: 15px;
    margin: 0 auto 0 auto;
}

a.foot-link {
    color: #fff8;
    text-decoration: none;
}

a.foot-link.active {
    color: #fff;
    text-decoration: none;
}

.cr-text {
    font-family: 'MontserratAlt';
    color: #fff8;
}

hr {
    border-top: 1px solid #fff8;
}